.restaurant-card {
  width: 300px;
  height: 100px;
  h3 {
    display: inline;
  }
  margin: 15px;
  .ten-bis {
    color: gray;
    font-size: 9px;
    display: inline;
    margin-left: 5px;
  }
  .card-details {
    margin-left: 20px;
  }
}
